/* Configurações gerais da página. */
/*Definição da fonte e reset da margem. */
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
/* Adiciona uma cor de fundo para a página. Defini a altura e largura do container da página. */
body {
    background: rgba(0, 0, 0);
    width: 98.7vw;
    height: 100vh;
}
/* Definições gerais do cabeçalho */
/* Defini uma imagem e três cores de funco. Adiciona uma borda inferior e defini a altura do container. */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../images/banner.png);
    width: inherit;
    height: 97%;
    border-bottom: 1px solid #33A8DB;
}
/* Centraliza os elementos do container. */
.banner-content {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Centraliza a imagem do container. */
.logo img {
    display: block;
    width: 13.5rem;
    margin: auto;
}

.banner-content h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    /* Defini uma cor de fundo para o elemento h1. */
    background: -webkit-linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    /* Utilizada a regra para que funcione em todos os navegadores. */
    -webkit-background-clip: text;
    padding-bottom: 15px;
    margin-top: 25px;
}

.banner-content p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.banner-content button {
    padding: 15px 25px;
    display: block;
    margin: 1.5rem auto;
    font-size: 16px;
    font-weight: 700;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: 2px solid #33A8DB;
    background: linear-gradient(#1472B7, #33A8DB);
    background-clip: text;
    -webkit-background-clip: text;
}
/* Defini a largura, espaçamento e centraliza os elementos da seção. */
#course-content {
    padding: 60px;
    margin: auto;
    text-align: center;
}
/* Estilização do titulo da primeira seção do container principal. */
#course-content h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(#1472B7, #33A8DB);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    margin: 15px 0;
}
#course-content p {
    color: white;
    padding: 10px 0;
}
/* Estilização dos botões da primeira seção do elemento main. */
.modules-list .module {
    width: 70%;
    border: 1px solid #33A8DB;
    border-radius: 30px;
    margin: 20px auto;
    padding: 16px 0;
    color: white;
    background-color: #222;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}
.module span {
    color: #33A8DB;
}
/* Adiciona uma imagem de fundo e defini as configuração gerais da seção do conteúdo principal. */
#transform-world {
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 35rem;
    border-bottom: 1px solid #33A8DB;
    border-top: 1px solid #33A8DB;
}
/* Estiliza o elemento <p> na seção do conteúdo principal. */
#transform-world p {
    color: white;
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 900;
    width: 220px;
    position: relative;
    left: 100px;
    top: 200px;
    text-shadow: 2px 2px 1px #33A8DB;
    line-height: 40px;
}
/* Estilização da terceira seção do conteúdo principal. */
#professional-challenges {
    text-align: center;
    padding: 50px;
    border-bottom: 1px solid #33A8DB;
}

#professional-challenges h2 {
    font-size: 2.5rem;
    width: 75%;
    margin: auto;
    padding: 30px 0 50px;
    color: transparent;
    background-image: linear-gradient(#1472B7, #33A8DB);
    background-clip: text;
    -webkit-background-clip: text;
}

#professional-challenges img {
    width: 70%;
}

#professional-challenges p {
    color: white;
    width: 90%;
    margin: auto;
    padding: 25px 0;
}
/* Estilização do rodapé da página. */
footer {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2));
}

footer p {
    color: white;
    font-size: 0.9rem;
    font-weight: lighter;
}

footer img {
    width: 25%;
}

a {
    text-decoration: none;
    color: #33A8DB;
}